<head>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta charset="utf-8"/>
    <title>javaWeb模板商城</title>
    <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
</head>

