
<script type="text/javascript" src="${pageContext.request.contextPath}/assets/js/jquery-1.10.2.min.js"/>
<script type="text/javascript">
    function requestJson(var cond) {
        
    }
</script>

<body>
<input type="button" onclick="requestJson(1)" value="测试requestJson2Pojo"/>
<input type="button" onclick="requestJson(2)" value="测试requestJson2Param"/>
</for>
    <input type="text" name="id" value="${}"/>
    <input type="text" name="username" value="$!{}"/>
    <input type="submit" value="提交表单"/>
</form>
</body>