<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx
	        http://www.springframework.org/schema/tx/spring-tx.xsd">

  <import resource="spring-config-datasource.xml"/>

  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="dataSource" ref="dataSource"/>
      <!-- 不在同一个包下需要配置 -->
      <property name="mapperLocations" value="classpath:mapper/*.xml"/>
      <property name="configLocation" value="classpath:spring/mybatis-config.xml"/>
  </bean>

  <!-- 开启注解事务-->
  <!-- 事务开启，默认使用名为transactionManager的Bean处理 -->
  <tx:annotation-driven/>
  <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="dataSource"/>
  </bean>

  <!-- Mapper扫描器 -->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <!-- 要求*Mapper.xml和*Mapper.java文件在一个包内，使用mapper扫描 -->
    <!-- 多个包用逗号或分号分隔，会加载该包及其子包 -->
    <property name="basePackage" value="com.jd.secondproject.dao"/>
    <!-- 如果不在同一个包，下面property不用配置 -->
    <!--
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    -->
  </bean>

</beans>