<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-autowire="byName">

  <!--
    该注解驱动的作用：
    1.可以不用配置JSON转换器Bean
    2.
  -->
  <mvc:annotation-driven/>

  <!-- 只扫描Controller -->
  <context:component-scan base-package="com.jd.secondproject.web.controller"/>

  <!-- JSP视图解析器，可选配置，默认已经加载 -->
  <!--
  <mvc:view-resolvers>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
  </mvc:view-resolvers>
  -->
  <bean id="velocityConfigurer"
        class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
    <property name="resourceLoaderPath" value="/WEB-INF/vm/"/>
    <!-- 等价于配置下面velocityProperties属性，选其一即可
    <property name="configLocation" value="classpath:/conf/velocity.properties"/>
    -->
    <property name="velocityProperties">
      <props>
        <prop key="input.encoding">UTF-8</prop>
        <prop key="output.encoding">UTF-8</prop>
        <prop key="contentType">text/html;charset=UTF-8</prop>
        <!--
        <prop key="velocimacro.library">common/macro.vm</prop>
        -->
      </props>
    </property>
  </bean>
  <bean id="velocityViewResolver"
        class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
    <property name="cache" value="false"/><!--是否缓存模板 -->
    <property name="prefix" value="/WEB-INF/vm/"/>
    <property name="suffix" value=".vm"/>
    <property name="contentType" value="text/html;charset=UTF-8"/>
    <property name="dateToolAttribute" value="date"/><!--日期函数名称 -->
    <property name="numberToolAttribute" value="number"/><!--数字函数名称 -->
    <property name="exposeSpringMacroHelpers" value="true"/><!--是否使用spring对宏定义的支持 -->
    <property name="exposeRequestAttributes" value="true"/><!--是否开放request属性 -->
    <property name="requestContextAttribute" value="rc"/><!--request属性引用名称 -->
    <property name="layoutUrl" value="/WEB-INF/vm/common/default.vm"/><!--指定layout文件 -->
    <property name="order" value="2"/> <!--权重-->
    <property name="toolboxConfigLocation" value="/WEB-INF/tools.xml"/>
  </bean>

  <!-- 文件上传：前端页面如果是表单，则表单需要配置multipart/form-data -->
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
      <property name="defaultEncoding" value="UTF-8"/>
      <property name="maxUploadSize" value="400000000"/>
  </bean>

</beans>