<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <!--
    该注解驱动的作用：
    1.可以不用配置JSON转换器Bean
    2.
  -->
  <mvc:annotation-driven/>

  <!-- 只扫描Controller -->
  <context:component-scan base-package="com.jd.secondproject.web.controller"/>

  <!-- JSP视图解析器，可选配置，默认已经加载 -->
  <mvc:view-resolvers>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
  </mvc:view-resolvers>

  <!-- 文件上传：前端页面如果是表单，则表单需要配置multipart/form-data -->
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
      <property name="defaultEncoding" value="UTF-8"/>
      <property name="maxUploadSize" value="400000000"/>
  </bean>

</beans>